@import 'reset';

$small: 280px;
$medium: 768px;
$large: 992px;
$extra-large: 1260px;
$extra-extra-large: 1560px;


:root {
    font-family: Arial, sans-serif;
    color: #333645;
    letter-spacing: 0.4px;
}


#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;


    // menu button that becomes a fixed bar on the left of the screen
    header {
        position: fixed;
        top: 0;
        z-index: 1;
        margin: 15px 15px;
        display: flex;
        flex-direction: column;
        padding: 5px 10px 7px 10px;
        background-color: white;
        border-radius: 5px;
        border: 2px solid rgb(250, 250, 250);


        >svg {
            fill: #333645;

            @media (min-width: $large) {
                display: none;
            }
        }

        &:hover {
            background-color: rgb(240, 240, 240);


        }

        #nav {
            display: none;
            flex-direction: column;


            &-initial {
                display: block;
                padding: 30px 60px 30px 60px;
                margin-top: 3px;
                border-radius: 0 20px 20px 0;
                font-size: 100px;

                &:hover {
                    background-color: rgb(240, 240, 240);
                }
            }

            &-bar {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-top: 20px;

                .nav-bar-item {
                    border-radius: 0 6px 6px 0;
                    padding: 15px 0 15px 15px;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(240, 240, 240);
                    }
                }



            }

            #linkedin-button {
                display: flex;
                justify-content: center;
                padding: 50px;
                border-radius: 0 0 15px 0;

                >svg {
                    height: 50px;
                    width: 50px;
                    fill: #333645;

                }

                &:hover {
                    background-color: rgb(240, 240, 240);
                }
            }


            @media (min-width: $large) {
                display: flex;
            }

        }

        @media (min-width: $medium) {
            margin: 25px 25px;
        }

        @media (min-width: $large) {
            margin: 0;
            padding-left: 0;
            padding-right: 25px;
            height: 100vh;
            border-radius: 0 20px 20px 0;
            border-right: 3px solid rgb(250, 250, 250);
            border-left: 0;
            border-top: 0;
            border-bottom: 0;
            box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: white;
            }
        }




    }

    // setting padding on various screen sizes using a single container div
    #container {

        @media (min-width: $small) {
            padding: 0 20px;
        }

        @media (min-width: $medium) {
            padding: 0 60px;
        }

        @media (min-width: $large) {
            margin-left: 200px;
        }

        @media (min-width: $extra-large) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    // start of every page
    #home {
        width: 100%;
        height: 100vh;
        top: 0;
        background-color: white;
        display: flex;
        flex-direction: column;

        justify-content: space-between;

        #intro {
            display: flex;
            flex-direction: column;
            margin-top: 50vh;
            // offset y axis
            transform: translateY(-50%);

            &-titles {


                .title {
                    padding: 10px 0;

                    @media (min-width: $extra-large) {
                        font-size: 2.5rem;
                    }
                }

                @media (min-width: $extra-large) {
                    padding-bottom: 20px;
                }
            }
        }

        #scroll-down {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media (min-width: $extra-large) {
            max-width: 1200px;
        }

    }

    // portfolio for the home page
    #portfolio-wrapper {
        display: flex;
        flex-direction: column;
        padding: 60px 0;
        gap: 40px;

        #portfolio-title {
            font-size: 1.5rem;
        }

        #portfolio {
            display: flex;
            flex-direction: column;
            gap: 40px;
            flex: 1;

            .project {
                background-color: white;
                border-radius: 4px;
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                padding-bottom: 20px;

                >img {
                    width: 100%;
                    border-radius: 6px;
                    margin-bottom: 5px;
                }

                >h3 {
                    padding: 20px 0 6px 20px;
                    font-size: 1.2rem;

                    @media (min-width: $medium) {
                        font-size: 1.5rem;
                    }
                }

                >p {
                    font-size: 0.8rem;
                    padding: 0 0 0 20px;
                }

                &:hover {

                    >img {
                        transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
                        transform: scale(1.025);
                        filter: brightness(95%);
                        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
                    }
                }

                @media (min-width: $large) {
                    border-radius: 6px;
                    margin-bottom: 0;

                }

            }

            @media (min-width: $medium) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
            }

            @media (min-width: $large) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 40px;
            }

            @media (min-width: $extra-large) {
                padding-top: 50px;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
            }


        }

        @media (min-width: $extra-large) {
            max-width: 1200px;
        }


    }

    // reviews for the about-me page
    #about-me-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #about-me-title {
            display: flex;
            justify-content: center;
            margin: 40px;

            @media (min-width: $extra-large) {
                width: 100%;
                max-width: 1200px;
            }
        }

        #about-me {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .review {
                background-color: white;
                border-radius: 4px;
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px;


                >p {
                    line-height: 1.5em;
                }

                .review-author {
                    display: flex;
                    padding-top: 20px;
                    gap: 20px;

                    &-image {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    &-name {
                        padding-top: 12px;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        line-height: 1.5rem;
                    }

                    &-more {
                        font-size: 0.8rem;
                    }


                }

                &:hover {
                    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;

                    transform: scale(1.025);
                    filter: brightness(95%);
                    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
                }

                @media (min-width: $medium) {
                    border-radius: 6px;
                    margin-bottom: 0;

                    padding: 60px;

                }

            }

            @media (min-width: $extra-large) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                max-width: 1200px;
                padding-bottom: 60px;
            }

        }


    }

    // code examples for the code page
    #code-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #code-title {
            display: flex;
            justify-content: center;
            margin: 40px;

            @media (min-width: $extra-large) {
                width: 100%;
                max-width: 1200px;
            }
        }

        #code {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .example {
                border-radius: 4px;
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: center;

                >img {
                    width: 100%;
                }


                >p {
                    line-height: 1.5em;
                }

                .code-author {
                    display: flex;
                    gap: 20px;
                    padding: 20px;


                    &-image {
                        display: none;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;

                        @media (min-width: $medium) {
                            display: block;
                        }
                    }

                    &-quote {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        line-height: 1.5rem;
                    }

                    &-more {
                        font-size: 0.8rem;
                    }

                    @media (min-width: $medium) {
                        padding-top: 40px;
                        padding-bottom: 0;
                    }


                }

                &:hover {
                    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;

                    transform: scale(1.025);
                    filter: brightness(95%);
                    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
                }

                @media (min-width: $medium) {
                    border-radius: 6px;
                    padding: 40px;

                }

            }

            @media (min-width: $extra-extra-large) {
                width: 1200px;
            }

        }


    }

    // scion coalition scheme for the current page
    #current-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #current-title {
            display: flex;
            justify-content: center;
            margin: 40px;

            @media (min-width: $extra-large) {
                width: 100%;
                max-width: 1200px;
            }
        }

        #current {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .summary {
                border-radius: 4px;
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: center;

                >h4 {
                    padding: 20px 0;
                }

                >p {
                    padding: 20px 0;
                }


                &:hover {
                    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;

                    transform: scale(1.025);
                    filter: brightness(95%);
                    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
                }

                @media (min-width: $medium) {
                    border-radius: 6px;
                    padding: 40px;

                }

            }

            @media (min-width: $extra-extra-large) {
                width: 1200px;
            }

        }

    }

    // contact me form for the home page
    #contact-wrapper {

        display: flex;
        flex-direction: column;
        padding-top: 60px;

        #contact {
            display: flex;
            flex-direction: column;
            gap: 40px;

            &-intro {
                display: flex;
                flex-direction: column;
                gap: 20px;

                >h3 {
                    font-size: 1.5rem;

                }

                >p {
                    line-height: 1.5em;

                    >a {
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                &-links {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;


                    >a {
                        text-align: center;
                        border: 2px solid rgb(240, 240, 240);
                        border-radius: 4px;
                        font-size: 1rem;
                        font-weight: 600;
                        cursor: pointer;
                        padding: 20px 0;

                        &:hover {
                            background-color: rgb(240, 240, 240);
                        }
                    }


                    @media (min-width: $medium) {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 20px;

                        >a {
                            width: 100%;
                        }
                    }

                    @media (min-width: $large) {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: 20px 0;
                        margin-bottom: 40px;
                        text-align: center;
                    }

                }


            }

            &-form {

                display: flex;
                flex-direction: column;
                gap: 20px;

                &-inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    >p {
                        line-height: 1.5rem;
                    }

                    input {
                        padding: 15px 20px;
                        border-radius: 4px;
                        border-top: 1px solid rgb(200, 200, 200);
                        border-right: none;
                        border-bottom: none;
                        border-left: none;
                        outline: 1px solid rgb(210, 210, 210);
                        background-color: rgb(240, 240, 240);
                        font-size: 1rem;
                    }

                    >div {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 20px;

                        @media (min-width: $medium) {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 20px;

                        }
                    }

                    textarea {
                        min-height: 100px;
                        padding: 15px 20px;
                        border-radius: 4px;
                        border-top: 1px solid rgb(200, 200, 200);
                        border-right: none;
                        border-bottom: none;
                        border-left: none;
                        outline: 1px solid rgb(210, 210, 210);
                        background-color: rgb(240, 240, 240);
                        font-size: 1rem;
                        resize: vertical;
                    }


                }

                &-submit {
                    border: 2px solid rgb(240, 240, 240);
                    border-radius: 4px;
                    padding: 15px 40px;
                    font-size: 1rem;
                    font-weight: 600;
                    margin-bottom: 100px;

                    cursor: pointer;

                    &:hover {
                        background-color: rgb(240, 240, 240);
                    }

                }


            }

            @media (min-width: $large) {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-gap: 40px;

            }

            @media (min-width: $extra-large) {
                grid-gap: 60px;
            }



        }

        @media (min-width: $extra-large) {
            max-width: 1200px;
        }
    }

    #return {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }



}